<mat-toolbar class="mat-elevation-z8">
  <div class="toolbarBox">
    <span class="toolbarBox__left">
      {{title}}
    </span>
    <div class="toolbarBox__right">
      <app-search (searchChanged)="search($event)" class="search mat-elevation-z8"></app-search>
    </div>
  </div>
</mat-toolbar>
<main class="wrapper">
  <aside class="sidebar">
    <app-type-list [list]="searchType" (changed)="typeListChanged($event)" class="mat-elevation-z8"></app-type-list>
  </aside>
  <section class="content">
    <app-table [headers]="headers" [body]="body" [headersKeys]="headersKeys" [class.mat-elevation-z8]="body"></app-table>
  </section>
</main>
