.example-spacer
  flex: 1 1 auto
.search
  width: 50%

.toolbarBox
  display: flex
  margin: auto
  padding: 0
  width: 82%
  align-items: center
.toolbarBox__left
  width: 20%
  flex-shrink: 0
.toolbarBox__right
  margin-left: 2em
  flex-grow: 1
